<%= form_for(@reading_plan) do |f| %>
  <% if @reading_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reading_plan.errors.count, "error") %> prohibited this reading_plan from being saved:</h2>

      <ul>
      <% @reading_plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <%= f.label :start_plan %>
  <div class="input-append date" id="dp3" date-date-format="dd-mm-yyyy">
    <%= f.text_field :start_plan, data: {behaviour: 'datepicker'} %>
    <span class="add-on"><i class="icon-th"></i></span>
  </div>
  <%= f.label :end_plan %>
  <div class="input-append date" id="dp4" date-date-format="dd-mm-yyyy">
    <%= f.text_field :end_plan, data: {behaviour: 'datepicker'} %>
    <span class="add-on"><i class="icon-th"></i></span>
  </div>
  <script type="text/javascript">
    $('[data-behaviour~=datepicker]').datepicker();
    $('#dp3').datepicker();
    $('#dp4').datepicker();
  </script>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
