<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @reading_plan.title %>
</p>

<p>
  <b>Start plan:</b>
  <%= @reading_plan.start_plan.strftime("%d %B %Y") %>
</p>

<p>
  <b>End plan:</b>
  <%= @reading_plan.end_plan.strftime("%d %B %Y") %>
</p>


<%= link_to 'Edit', edit_reading_plan_path(@reading_plan) %> |
<%= link_to 'Back', reading_plans_path %>
