<%= link_to "Levian", root_path, :class => 'brand' %>
<%= link_to "Reading Plans", reading_plans_path  %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    Logged in as <%= current_user.name %>
    </li>
    <li>
    <%= link_to 'Logout', signout_path %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', signin_path %>
    </li>
  <% end %>
</ul>
